& {
  width: 450px;
  max-width: 100%;
}

.floatbox & {
  background-color: @colorBg;
}

.signUpHeading {
  margin: 0;
  padding: 12px 12px 0;
  text-align: center;
}

.agreement {
  margin: 7px 0;
  font-size: @fontSizeTiny;
  text-align: center;
}
